github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "SnapKit/SnapKit"
github "onevcat/Kingfisher"
github "goktugyil/EZSwiftExtensions"
github "seedotlee/MJRefresh"
github "SVProgressHUD/SVProgressHUD"
github "WenchaoD/FSPagerView"
github "alibaba/HandyJSON"
github "malcommac/SwiftRichString"
github "ibireme/YYKit"
github "ruslanskorb/RSKImageCropper"
